{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="col"> 
            <h1>Login</h1>
            <hr>

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                
                    <button type="submit" class="btn btn-danger">Login</button>
                </div>
            </form>

            <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
{% endblock %}
