<div class="list-group">
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    {% for kategori in kategoriler %}    
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        {{kategori}}
                        </a>
                    {% endfor %}
                  </div>
            </div>
            <div class="col-9">
                <div class="row">
                    
                        {% for f in filmler  %}
                        <div class="col-4">
                            {% include 'movies/partials/movieCard.html' %}
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
    </div>
  </div>